.buttonLike {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 19px;
    color: black;
    font-size: 12px;
    &:hover {
        color: black;
        transform: scale(1.2, 1.2);
        
    }
}